<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pletiona - stimulacije</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 190px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #4675d2;
            overflow-x: hidden;
            padding-top: 100px;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 18px;
            color: #f2f2f2;
            display: block;
            border-bottom: 1px solid white;
        }

        .sidenav a:hover {
            color: #4675d2;
            background-color: #f2f2f2;
        }

        #logout {
            margin-top: 30px;          
            padding:10px;
            font-size: 18px;
            color: white;
            display: block;           
            cursor: pointer;
        }

        

        #logout:hover {
            color: #4675d2;
            background-color: #f2f2f2;
        }

        .sidenav h3 {
            font-size: 24px;
            color: white;
            padding-bottom: 30px;
            padding-left: 10px;
        }

        .main {
            margin-left: 190px; /* Same as the width of the sidenav */           
            padding: 0px 10px;
        }

    </style>
</head>
<body>
    <div class="sidenav">
        <h3> <i class="fa fa-scissors"></i> PLETIONA </h3>
        <a href="@Url.Action("Index", "Home")" ><i class="fa fa-home"></i> Home</a>
        <a href="@Url.Action("Stimulacije", "Home")" ><i class="fa fa-arrow-circle-up"></i> Stimulacije</a>
        <a href="@Url.Action("TraziBolovanja", "Home")"><i class="fa fa-file"></i> Bolovanja</a>
        <a href="@Url.Action("StimulacijeZaObradu", "Home")"><i class="fa fa-database"></i> Podaci za obradu</a>
        
        <p id="logout" href="@Url.Action("Logout", "Home")">
            <span class="fa fa-sign-out"></span> Odjavi se
        </p>

    </div>

    <div class="main">
        @RenderBody()
    </div>
   

   
</body>


    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</html>

